POSTGRES_DB=othello-db
POSTGRES_USER=postgres-user
POSTGRES_PASSWORD=postgres-password
POSTGRES_HOST_PORT=5433

SERVICE_REGISTRY_PORT=8761
API_GATEWAY_PORT=8888
IDENTITY_SERVICE_PORT=8080
AI_MODEL_SERVICE_PORT=8082
LEADERBOARD_SERVICE_PORT=8083
PVP_SERVICE_PORT=8084
FRONTEND_HOST_PORT=3000

JWT_SIGNER_KEY=jwt-signer-key
EUREKA_URL=http://eureka-host:8761/eureka/

USER_DB_USERNAME=user-service-user
USER_DB_PASSWORD=user-service-password
AI_DB_USERNAME=ai-service-user
AI_DB_PASSWORD=ai-service-password
PVP_DB_USERNAME=pvp-service-user
PVP_DB_PASSWORD=pvp-service-password
LEADER_DB_USERNAME=leaderboard-service-user
LEADER_DB_PASSWORD=leaderboard-service-password

DB_URL_IDENTITY=jdbc:postgresql://db-host:5432/othello_db?currentSchema=schema_user
DB_USERNAME_IDENTITY=user-service-user
DB_PASSWORD_IDENTITY=user-service-password
DB_URL_IDENTITY_DOCKER=jdbc:postgresql://postgres:5432/othello_db?currentSchema=schema_user

DB_URL_AI_MODEL=jdbc:postgresql://db-host:5432/othello_db?currentSchema=schema_ai
DB_USERNAME_AI_MODEL=ai-service-user
DB_PASSWORD_AI_MODEL=ai-service-password
DB_URL_AI_MODEL_DOCKER=jdbc:postgresql://postgres:5432/othello_db?currentSchema=schema_ai

DB_URL_LEADERBOARD=jdbc:postgresql://db-host:5432/othello_db?currentSchema=schema_leaderboard
DB_USERNAME_LEADERBOARD=leaderboard-service-user
DB_PASSWORD_LEADERBOARD=leaderboard-service-password
DB_URL_LEADERBOARD_DOCKER=jdbc:postgresql://postgres:5432/othello_db?currentSchema=schema_leaderboard

DB_URL_PVP=jdbc:postgresql://db-host:5432/othello_db?currentSchema=schema_pvp
DB_USERNAME_PVP=pvp-service-user
DB_PASSWORD_PVP=pvp-service-password
DB_URL_PVP_DOCKER=jdbc:postgresql://postgres:5432/othello_db?currentSchema=schema_pvp

REDIS_HOST=redis-host
REDIS_PORT=6379
KAFKA_SERVERS=kafka-host:9092

IDENTITY_SERVICE_URL=lb://IDENTITY-SERVICE
AI_MODEL_URL=lb://AI-MODEL-SERVICE
PVP_SERVICE_URL=lb://PVP-SERVICE
LEADERBOARD_URL=lb://LEADERBOARD-SERVICE
PVP_IDENTITY_SERVICE_URL=http://identity-service-host:8080/othello
PVP_IDENTITY_SERVICE_URL_DOCKER=http://identity-service:8080/othello

GOOGLE_CLIENT_ID=google-client-id
GOOGLE_CLIENT_SECRET=google-client-secret
GOOGLE_REDIRECT_URI=http://localhost:3000/oauth2/callback
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_USERINFO_URL=https://www.googleapis.com/oauth2/v3/userinfo

MEZON_CLIENT_ID=mezon-client-id
MEZON_CLIENT_SECRET=mezon-client-secret
MEZON_REDIRECT_URI=http://localhost:3000/oauth2/callback
MEZON_TOKEN_URL=https://oauth2.mezon.ai/oauth2/token
MEZON_USERINFO_URL=https://oauth2.mezon.ai/userinfo

API_GATEWAY_ALLOWED_ORIGIN=http://localhost:3000
API_GATEWAY_RETRY_COUNT=3
API_GATEWAY_RATE_LIMIT_REPLENISH_RATE=10
API_GATEWAY_RATE_LIMIT_BURST_CAPACITY=20

KAFKA_TOPIC_MATCH_RESULT=match-result
LEADERBOARD_KAFKA_GROUP_ID=leaderboard-group
KAFKA_TRUSTED_PACKAGES=com.game.pvp_service.dto.event,com.game.leaderboard_service.dto.event
